
<link href="~/Content/jquery.hoverclock.2.1.0.css" rel="stylesheet" />
<script src="~/Scripts/jquery.hoverclock.2.1.0.js"></script>
<div id="hoverclock"></div>
<script>
        $("#hoverclock").hoverclock({
            "h_width":260,
            "h_height":260,
            //"h_hourNumSize": "80",
            // "h_hourNumRadii": "200",
            // "h_hourNumShow": false,
            // "h_minuteNumShow":false,
            "h_hourNumColor": "green",
            "h_backColor": "white",
            // "h_borderColor": "gold",
            //"h_frontColor":"red",
            "h_linkText": "珍惜时间"
        });
</script>